/* GLOBAL CSS */
html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    overflow-x:hidden;
    font-family: 'Audiowide', serif;
    background-color: black;
}

body {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}



section{
  display:block;
  height:100vh;
  min-width:100%;
  box-sizing:border-box;
}

.seperator{
  border-top: solid 5px black;
  width:70%;
}

.seperator-light{
  border-top: solid 5px white;
  width:70%;
}

/* Local CSS */

.navbar-custom {
  background-color:black;
  border-bottom:solid;
  border-bottom-color:red;
}

.navbar-brand strong {
    letter-spacing:10px;
    color: red;
}

.navbar-brand:hover strong {
  color:white;

}

#home{
  background:url("https://images.pexels.com/photos/7108/notebook-computer-chill-relax.jpg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center fixed;
  background-size: cover;
  padding-top:20%;
  -webkit-transform: translate3d(0,0,0);
}

#home h1{
  padding-bottom:0px;
  font-family: 'Audiowide', serif;
  font-size: 5em;
}

#home h5{
  font-family: 'Audiowide', serif;
  font-size: 3.0em;
  color:red;

}

#home h1, h5{
  color:red;
  text-align:center;
  letter-spacing: 10px;
  text-shadow: 10px 10px 10px #000000  ;
}

#about {
  background-color:black;
  padding-top:80px;
  min-height:100%;
  height:auto;
}

#about .jumbotron{
  background-color:transparent;
  text-align:center;
  font-size:200px;
}
#about span{
  color:red;
}

#projects{
  background-color:blue;
  background:url("http://il5.picdn.net/shutterstock/videos/6728728/thumb/1.jpg");
  background-size: cover;
  min-height:100%;
  height:auto;
  padding-top:5%;
  padding-bottom:3%;
}

#projects .row{
  margin: 0 5px 0 5px;
}
#projects .same-height {
  min-height:320px;
  min-width: 320px;
}

#projects h1 {
  color:red;
  font-size:57.5px;
  text-align: center;
}

#projects .lead {
  color:red;
}

.thumbnail:hover img {
  opacity: .5;
  background-color: black;
}


#contact {
  height:28%;
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#contact .jumbotron{
  background-color: transparent;
}

.social{
  list-style: none;
  padding: 0px;
  margin-bottom: 0%;
}

.social li{
  display: inline;
  margin: 10px;
}

.social li a{
  display: inline-block;
  color: red;
  width: 50px;
  height: 50px;
}

#freecodecamp, #linkedin,#email,#github{
  border-radius:25px;
  border: solid 2px black;
  font-size: 1.5em;
  padding:10px;
}

footer {
  background-color: black;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: solid 3px black;
}

footer h1 {
  font-size: 13px;
  color: #fff;
  text-align:center
}

footer a {
  color:#fff
}

footer a:hover {
  color:#fff;
  background-color:rgba(81, 69, 107,0.9);
  text-decoration:underline;
}

/* Smartphones (portrait)*/
@media only screen
and (max-width : 320px) {
  #home{
      padding-top:50%;
  }
}
